body {
  color: #3C3C3C;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}

ol {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 16px;
}

.radio-label {
  font-size: large;
}

input[type="radio"] {
  margin-right: 10px;
}

.hidden {
  display: none;
}
.v-hidden {
  visibility: hidden;
}

.container {
  padding: 4rem 1rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4.5rem;
  padding: 1rem;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
.footer button {
  min-width: 4.3rem;
  border: 1px solid #666;
  border-radius: 3px;
  font-size: large;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}
.footer button:first-of-type {
  background-color: white;
}
.footer button:last-of-type {
  background-color: lightblue;
}

.result__desc {
  margin-bottom: 32px;
  font-size: 1.15rem;
}
.result__score {
  font-size: small;
  color: #666;
}

.calculator {
  margin-top: 48px;
}
.calculator p {
  margin-bottom: 8px;
}
.calculator input {
  height: 30px;
  width: 45%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 4px;
  margin-bottom: 4px;
  font-size: 1rem;
}
.calculator .input__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
